<div class="ecl-u-mb-2xl">
    {{{pagedescription}}}
</div>

<div class="ecl-u-pb-s ecl-u-mb-xl ecl-u-border-bottom ecl-u-border-color-dark-80">
    <div class="ecl-row ecl-u-align-items-center">
        <div class="ecl-col-12 ecl-col-m-4 ecl-u-type-bold ecl-u-type-l">
            {{coursecount}}
        </div>
        <div class="ecl-col-12 ecl-col-m-8 ecl-u-d-flex ecl-u-justify-content-end">
            <form method="get" action="{{sort.action}}">
                <input type="hidden" name="slug" value="{{sort.slug}}">
                <div class="ecl-form-group ecl-u-d-flex ecl-u-align-items-center">
                    <label for="select-sortby" id="select-sortby-label" class="ecl-form-label ecl-u-mr-l">{{#str}}sortby, local_coursecatalog{{/str}}</label>
                    <div class="ecl-select__container ecl-select__container--m ecl-u-mt-none sortby-select">
                        <select class="ecl-select" data-ecl-auto-init="Select" id="select-sortby" name="sort" onchange="this.form.submit()">
                            {{#sort.options}}
                                <option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>
                            {{/sort.options}}
                        </select>
                        <div class="ecl-select__icon">
                            <button class="ecl-button ecl-button--ghost ecl-button--icon-only" type="button" tabindex="-1">
                                <span class="ecl-button__container">
                                    <span class="ecl-button__label" data-ecl-label="true">{{#str}}toggledropdown, local_coursecatalog{{/str}}</span>
                                    {{#ecl_icon}}corner-arrow, xs, ecl-icon--rotate-180 ecl-button__icon{{/ecl_icon}}
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="course-list">
    {{#courses}}
        <article class="ecl-content-item ecl-u-pa-m ecl-u-bg-primary-5">
            {{#courseimage}}
                <picture class="ecl-picture ecl-content-item__picture ecl-content-item__picture--large ecl-content-item__picture--left" data-ecl-picture-link="">
                    <source srcset="{{courseimage}}" media="(min-width: 480px)" type="image/jpg"><img class="ecl-content-item__image" src="{{courseimage}}" alt="{{fullname}}">
                </picture>
            {{/courseimage}}

            <div class="ecl-content-block ecl-content-item__content-block" data-ecl-auto-init="ContentBlock" data-ecl-content-block="">
                <div class="ecl-content-block__title" data-ecl-title-link="">
                    <a href="{{buttonurl}}" class="ecl-link ecl-link--standalone">
                        {{fullname}}
                    </a>
                </div>

                <div class="ecl-content-block__description">
                    {{{summary}}}
                </div>

                <div class="ecl-content-block__list-container">
                    <dl class="ecl-description-list ecl-description-list--horizontal ecl-content-block__list">
                        <dt class="ecl-description-list__term ecl-u-mt-s">{{#str}}content, local_coursecatalog{{/str}}</dt>
                        <dd class="ecl-description-list__definition ecl-u-mt-s">{{modulescount}}, {{activitycount}}</dd>
                    </dl>
                </div>
            </div>
        </article>
    {{/courses}}

    {{^courses}}
        <div class="alert">{{#str}}nocoursesinthiscategory, local_coursecatalog{{/str}}</div>
    {{/courses}}
</div>
